.small_container{
    margin-top: 20px;
    border: 1px solid black;
    height: 250px;
    width: 300px;

}

.color{
    width: 300px;
    height: 150px;

}

.violet{
    background-color: violet;
}
.Orange{
    background-color: orange;
}
.violet{
    background-color: violet;
}
.Cyan{
    background-color: cyan;
}
.green{
    background-color: green;
}

.small_container{
    margin-top: 20px;
    border: 2px solid black;
    height: 250px;
    width:300px ;
}

.big_container{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;

    
}

.navbar{
    background: green;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    color: white;
}

.nav_left{
    display: flex;
    align-items: center;
}

.nav_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
}

.help{
    font-size: 20px;
    cursor: pointer;
}

.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

body{
   font-family: Arial, Helvetica, sans-serif; 
   background: white;
}

/* Cynthia's code */
.small_container{
    margin-top: 20px;
    border: 1px solid black;
    height: 250px;
    width: 300px;

}

.color{
    width: 300px;
    height: 150px;

}

.violet{
    background-color: violet;
}
.cyan{
    background-color: cyan;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.big_container{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    gap: 5px;
}